<div id="tool_heading"><h1>Special Collections Requests</h1></div>

<div class="tool_content spec_coll">

<%= link_to 'UVa login', login_path(:id => @special_collections_request[:document_id], :redirect => 'special_collections_user')%> | <%= link_to 'Non-UVa login', non_uva_special_collections_request_path(:id => @special_collections_request[:document_id])%>

</div>