<h2>Search Tips</h2>
<ul class="advanced_help">
  <% unless params[:catalog_select] == 'articles' %>
    <li>
      <p class="advanced-help-topic">Use search fields to find specific information and select facets in the left-hand menu to limit the scope of your search.</p>
    </li>
    <li>
      <p class="advanced-help-topic">Search for a specific phrase by surrounding it with quotation marks.</p>
      <p class="advanced-example-heading">Example:</p>
      <pre class="advanced-example">"grapes of wrath"</pre>
    </li>
    <li>
      <p class="advanced-help-topic">Use uppercase OR, AND, and NOT to create complex searches.</p>
      <p class="advanced-example-heading">Examples:</p>
      <pre class="advanced-example">"frida kahlo" AND exhibitions</pre>
      <pre class="advanced-example">kyoto NOT protocol</pre>
    </li>   
  <% else %>
    <li>
      <p class="advanced-help-topic">Use search fields to help limit the scope of your search.</p>
    </li>
    <li>
      <p class="advanced-help-topic">Search for a specific phrase by surrounding it with quotation marks.</p>
      <p class="advanced-example-heading">Example:</p>
      <pre class="advanced-example">"global warming"</pre>
    </li>
    <li>
      <p class="advanced-help-topic">Use uppercase OR, AND, and NOT to create complex searches.</p>
      <p class="advanced-example-heading">Example:</p>
      <pre class="advanced-example">kyoto NOT protocol</pre>
    </li>
  <% end %>
  <li>
    <p class="advanced-help-topic">Use parentheses to group logical sections of your search.</p>
    <p class="advanced-example-heading">Example:</p>        
    <pre class="advanced-example">(gay OR lesbian OR transgender) sports</pre>
  </li>
</ul>
