<tr id="<%= document.id %>">
	<td><%= document.display.title %></td>
	<td><%= document.display.creator %></td>
	<td><!--format--></td>
	<td><!--year--></td>
	<td><!--location--></td>
	<td><!--call number--></td>
	<td><%= link_to 'X', folder_article_destroy_path(:article_id => document[:id]), :confirm => 'Remove star from this item?' %></td>
</tr>
