<tr id="<%= document[:id] %>">
	<td><!-- title --></td>
	<td><!--author--></td>
	<td><!--format--></td>
	<td><!--year--></td>
	<td><!--location--></td>
	<td><!--call number--></td>
	<td><%#= link_to 'X', folder_path(document[:id]), :method => :delete, :confirm => 'Remove star from this item?' %></td>
</tr>
