<div class="box menu" id="relatedNames">
  <% unless document.marc_display.nil? %>
	<h2>Related Name(s)</h2>
  <% end %>

  <% #------------ Name/title, corporate body, and conference added entry ------------- %>

  <% unless document.marc_display.nil? or document.marc_display.related_names.empty?  %>
	<ul>
  	<% document.marc_display.related_names.each do |v| %>
  		<li><%= link_to v, catalog_index_path({:q=>v.gsub(/\((.*)\)/,''), :search_field=>'author' }) %></li>
  	<% end %>
	</ul>
  <% end %>
    
</div>
