<dt class="technicalDetails">Technical details</dt>
<dd class="technicalDetails">
  <ul>
		<% unless document.doc_type == :hathi or document.doc_type == :dl_book or document.doc_sub_type == :dl_book %>
    	<li><%= link_to_ilink_record(document, 'Access in Virgo Classic') %></li>
		<% end %>
    <li>
      <a href="" onclick="$('#marc_view_switch').toggle();return false;">Staff View</a>
      <%- if document.respond_to?(:export_as_marcxml) -%>
      <div id="marc_view_switch" style="display:none;">
        <%= render "catalog/marc_view"  %>
      </div>
      <%- end -%>
    </li>
  </ul>
</dd>
