.limitsListItem{
border-bottom:1px solid #EFF6FF;
margin:0;
font-size:0.923em;
padding:0.25em 0.5em;
}
.DOMtitle {
background-color:#E8E8E8;
border-bottom:3px solid #4079A0;
height:27px;
}
.limitsBody{
overflow:none;
}
#facetFieldValues{
height: 410px;
overflow:auto;
}
.DOMclose {
float:right;
margin-bottom:1px;
padding:7px 10px 5px 0;
text-align:right;
}
.DOManchor {
background:#DFE8F6 none repeat scroll 0 0;
border:3px solid #4079A0;
color:#000000;
}
