html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; }
div, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0; }
#container {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    height: 100%;
    width: 100%; }
.page_turner_head {
    background: #CAD6E2;
    border-bottom: 3px solid #B7C1CB;
    padding: 15px 20px; }
.page_turner_head h1 {
    color: #222;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0.33em; }
.page_turner_head h2 {
    display: inline;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2em; }
.page_turner_head h3 {
    display: inline;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2em; }
.page_turner_nav {
    color: #0A3685;
    padding: 0.67em 0 0 0;
    text-align: center;
    vertical-align: middle;
    width: 100%; }
.page_turner_next,
.page_turner_prev {
    cursor: pointer;
    font-size: 14px;
    padding: 0 1em; }
.page_container { height: 700px }
#page_viewer {
    background: #F2F2F2;
    border-bottom: 1px solid #BBB;
    float: right;
    height: 100%;
    width: 70%;
    margin: 0;
    padding: 0; }
.page_thumbs {
    color: #333;
    background: #ECE5D2;
    border-bottom: 1px solid #BBB;
    float: left;
    height: 100%;
    width: 30%;
    margin: 0;
    overflow-y: scroll;
    padding: 0; }
.page_thumb {
    border-bottom: 1px dotted #D6CEB7;
    border-top: 1px solid transparent;
    cursor: pointer;
    min-height: 160px;
    padding: 1em 2em; }
.page_thumb .jp2kPreview {
    color: #ECE5D2;
    display: block;
    text-align: center; }
.page_thumbs img {
    display: block;
    margin: 0 auto; }
.page_thumbs img.page_default {  padding: 60px; }
.page_thumbs .page_pid {
    margin: 0.33em 0 0 0.1em;
    text-align: center; }
.page_thumbs .page_title,
.page_thumbs .page_download {
    margin: 0.67em 0 0 0;
    text-align: center; }
.page_thumbs .page_download a {
  background: url('/images/download.png') no-repeat scroll 9px 50% #B4A989;
  color: #EFEAD6;
  font-size: 13px;
  padding: 5px 10px 5px 26px;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 32px;
  -moz-border-radius:    32px;
  border-radius:         32px;
  -webkit-background-clip: padding-box;
  -moz-background-clip:    padding-box;
  background-clip:         padding-box; 
  -webkit-transition: background 300ms ease-in-out;
  -moz-transition:    background 300ms ease-in-out;
  transition:         background 300ms ease-in-out;  
}
.page_thumbs .page_download a:hover {background-color: #9A8969;}
.page_thumbs .page_download .terms-link { display: block; padding: 3px 0 0 0;}
.page_thumbs .page_download .terms-link a {background: none; color: #555; font-size: 11px; padding: 0; vertical-align: middle;}
.page_thumbs .thumb_select {
    background: #FFFFE5; }
#page_permalink {
  color: #0A3685;
  float: right;
  font-size: 14px; 
  margin-top: 2px; }
#return_to_search {
  color: #0A3685;
  float: left;
  font-size: 14px; 
  margin-top: 2px;
}
.olControlPanZoom {  opacity: 0.8; }
#zoomBox {border: 2px dotted #FFCC44;}
.olLayerDiv div, .olLayerDiv div img {width: auto !important; height: auto !important;}