html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0; }
div, p, button, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0; }
button {background: none; border: none; cursor: pointer; font-family: Arial, Helvetica, sans-serif; font-size: inherit;}
#container {
    background: #F2F2F2;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    height: 100%;
    width: 100%; }
.page_turner_head {
    background: #CAD6E2;
    border-bottom: 1px solid #7c9ab0; }
.page_turner_title { 
  padding: 15px 4%; 
  width: 92%;}
.page_turner_title h1 {
    color: #222;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2em;
    margin-bottom: 0.33em; }
.page_turner_title h2 {
    display: inline;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2em; }
.page_turner_title h3 {
    display: inline;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2em; }
.page_turner_nav {
  background: #b7c1cb;
  border-top: 1px solid #96abbb;
  color: #3f5162;
  padding: 0.25em 4%;
  text-align: center;
  vertical-align: middle;
  width: 92%; }
.page_turner_next,
.page_turner_prev {
    cursor: pointer;
    font-size: 15px;
    padding: 0 1em; }
.page_container { height: 700px }
#page_viewer {
    background: #F2F2F2;
    border-bottom: 1px solid #BBB;
    float: right;
    height: 100%;
    width: 70%;
    margin: 0;
    padding: 0; }
#container.thumbs-closed #page_viewer {width: 100%; }
.page_thumbs {
  height: 100%; 
  margin: 0; 
  padding: 0;
  width: 30%; }
.page_thumbs_list {
    color: #333;
    background: #ECE5D2;
    border-bottom: 1px solid #BBB;
    float: left;
    height: 95%;
    width: 100%;
    margin: 0;
    overflow-y: scroll;
    padding: 0; }
.page_thumbs_nav {
  background: #9e9781;
  color: #ECE5D2;
  bottom: 0;
  font-size: 15px;
  height: 2%; 
  left: 0;
  line-height: 20px;
  padding: 1%;
  position: fixed; 
  text-align: center;
  vertical-align: middle;
  width: 28%; 
  z-index: 999;}
#container.thumbs-closed .page_thumbs_nav {width: 5%;}
#container.thumbs-closed .page_thumbs_nav .page_thumbs_info {display: none;}
.page_thumb {
    border-bottom: 1px dotted #D6CEB7;
    border-top: 1px solid transparent;
    cursor: pointer;
    min-height: 160px;
    padding: 1em 2em; }
.page_thumb .jp2kPreview {
    color: #ECE5D2;
    display: block;
    text-align: center; }
.page_thumbs img {
    display: block;
    margin: 0 auto; }
.page_thumbs img.page_default {  padding: 60px; }
.page_thumbs .page_pid {
    margin: 0.33em 0 0 0.1em;
    text-align: center; }
.page_thumbs .page_title,
.page_thumbs .page_description,
.page_thumbs .page_download {
    margin: 0.67em 0 0 0;
    text-align: center; }
.page_thumbs .page_description {color: #444; font-size: 11px;}
.page_thumbs .page_download a {
  background: url('/images/download.png') no-repeat scroll 9px 50% #B4A989;
  color: #EFEAD6;
  font-size: 13px;
  padding: 5px 10px 5px 26px;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 32px;
  -moz-border-radius:    32px;
  border-radius:         32px;
  -webkit-background-clip: padding-box;
  -moz-background-clip:    padding-box;
  background-clip:         padding-box; 
  -webkit-transition: background 300ms ease-in-out;
  -moz-transition:    background 300ms ease-in-out;
  transition:         background 300ms ease-in-out;  }
.page_thumbs .page_download a:hover {background-color: #9A8969;}
.page_thumbs .page_download .terms-link { display: block; padding: 3px 0 0 0;}
.page_thumbs .page_download .terms-link a {background: none; color: #555; font-size: 11px; padding: 0; vertical-align: middle;}
.page_thumbs .thumb_select {
    background: #FFFFE5; }
#page_permalink,
#return_to_search,
#hide_header,
#lock_zoom {
  color: #3f5162;
  font-size: 15px;
  line-height: 18px;
  margin-top: 2px;
  text-decoration: none; 
  vertical-align: middle; }
#page_permalink,
#return_to_search {
  border-right: 1px solid #7c9ab0;
  float: left;
  margin-right: 1em; 
  padding-right: 1em; }
#lock_zoom {float: left;}
#lock_zoom.lock-active { font-weight: bold; }
#page_permalink {background: url('/images/pointer-icon.png') no-repeat scroll 0 -1px transparent; padding-left: 19px;}
#lock_zoom {background: url('/images/search-icon.png') no-repeat scroll 0 -1px transparent; padding-left: 24px;}
#hide_header {background: url('/images/up-arrow-button.png') no-repeat scroll 100% 1px transparent; float: right; padding-right: 26px;}
#hide_thumbs {background: url('/images/left-arrow-button.png') no-repeat scroll 100% 1px transparent; color: #EFEAD6; float: right; padding-right: 26px; text-decoration: none;}
.olControlPanZoom { opacity: 0.8; }
#zoomBox {border: 2px dotted #FFCC44;}
.olLayerDiv div, .olLayerDiv div img {width: auto !important; height: auto !important;}