html body {
	background-color: #FFF;
	font: 13px/1.231 "Helvetica Neue", Arial, sans-serif;
	margin: 0px;
}
#uva_lib_banner {
	width: 980px;
	height: 37px;
	margin-right: auto;
	margin-left: auto;
}
#uva_lib_banner #container1 {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	font-size: 12px;
	color: #A8CCE8;
	font-family: "Helvetica Neue", Arial, sans-serif;
	height: 36px;
}
#container1_uva_lib_logo {
	height: 15px;
	width: 200px;
	float: left;
	padding-top: 10px;
}
#container1_links   {
	height: 18px;
	margin-top: -9px;
	width: 560px;
	float: left;
	padding-top: 20px;
	padding-left: 15px;
}
#container1_links ul {
	list-style-type: none;
}
#container1_links li {
	float: left;
	margin-right: 7px;
	margin-left: 7px;
}
#container1_links a {
	color: #CCDFFF;
	text-decoration: none;
}
#container1_login {
	width: 142px;
	height: 26px;
	float: left;
	padding-left: 15px;
	padding-top: 7px;
}

#virgo_banner > a {
	float: left;
}
#virgo_banner a.libra_link {
  color: #f0f1f2;
  float: right;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 13px; 
  margin-top: 36px;
  text-decoration: none;
  -webkit-text-shadow: 0px -1px 0px #000;
  -moz-text-shadow:    0px -1px 0px #000;
  text-shadow:         0px -1px 0px #000; }
#virgo_banner a.libra_link .libra_hi {
  font-weight: bold;
  color: #BCDFFF;
  text-decoration: underline; }
#virgo_banner a.libra_link .libra_new {
  color: #F3A729;
  font-style: italic;
  font-weight: bold;
  padding-right: 0.67em;}  
#catalogShow #virgo_banner a.libra_link {
  clear: right;
  margin: 7px 8px 0 0; }
#itemSearchBox {
	float: right;
	margin-top: 24px;
	margin-right: 5px;
}
#itemSearchBox input {
	border: 1px solid #AAA;
	font-size: 16px;
	float: right;
	height: 21px;
	margin-right: 10px;
	padding: 4px;
}
#itemSearchBox #searchInput.searchFormDiv {
	height: 29px;
	width: 200px;
}
#itemSearchBox #searchButton {
	height: 29px;
	width: 87px;
}
#virgo_banner #itemSearchBox button {
	background: url(/images/search_button.png) no-repeat scroll 0 0 transparent;
	margin: 0;
}
#virgo_banner #itemSearchBox button:active {
	background: url(/images/search_button_rollover.png) no-repeat scroll 0 0 transparent;
}
#frame {
	width: 981px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 50px;
	height: auto;
	margin-top: 83px;
}

#tabs {
  border-bottom: 1px solid #f5f5f5;
	display: block;
}

#tabs li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #c4d6dF;
  border-right: 1px solid #d3d6dd;
	display: block;
  position: relative;
}

#tabs li a {
  background: #EEF5FB;
	display: block;
  font-weight: bold;
	padding: 12px 8px 12px 48px;
	text-decoration: none;
}

#ask_a_librarian {
	height: 41px;
	width: 125px;
	z-index: 200;
}
#ask_a_librarian a.librarian {
	background-image: url(/images/ask_a_librarian.png);
	background-repeat: no-repeat;
	text-indent: -9999px;
	display: block;
	height: 41px;
	width: 125px;
	background-position: center;
}
#ask_a_librarian a.librarian:link {
	background-image: url(/images/ask_a_librarian.png);
	background-repeat: no-repeat;
}
#ask_a_librarian a.librarian:visited {
	background-image: url(/images/ask_a_librarian.png);
	background-repeat: no-repeat;
}
#ask_a_librarian a.librarian:hover {
	background-image: url(/images/ask_a_librarian.png);
	background-repeat: no-repeat;
}
#ask_a_librarian a.librarian:active {
	background-image: url(/images/ask_a_librarian_rollover.png);
	background-repeat: no-repeat;
}
#side_bar, #availableFilters {
	color: #0A3685; }
.limitsMenu {padding: 10px 0;}
.side_bar_heading {
	height: 36px;
	font-weight: bold;
	padding: 0 12px;
	line-height: 36px;
	cursor: pointer;
}
.side_bar_content {
	color: #000;
	padding: 0 12px 10px;
	line-height: 25px;
}
.side_bar_content .facet_value {color: #4d4d4d; display: block; line-height: 1.67em;}
.side_bar_content .facet_value a {
	text-decoration: none;
	color: #0A3685;
}
.articles-page .side_bar_content .facet_value a {text-transform: capitalize;}
.side_bar_content_seeall {
	padding-left: 130px;
	padding-top: 5px; }
a.more_facets_link { color: #2f3e6a;}
#searchForm {
	width: 722px;
	height: 44px;
	background-image: url(/images/search_bg.png);
	background-repeat: no-repeat;
	padding-left: 7px;
	background-color: #E2EAFC;
	clear: both;
}

#searchForm input {
	float: left;
	width: 480px;
	margin-top: 6px;
	font-size: 15px;
	height: 20px;	
	border: 0px;
	padding: 6px;
}
.searchFormDiv {
	display: block;
	float: left;
	line-height: 2.2em;
	width: auto;
}

#searchFieldSelect {
	margin: 14px 11px 14px 13px;		
}


#searchButton button {
	height: 29px;
	width: 87px;
	float: right;
	margin-right: 6px;
	margin-top: 8px;
	background: url(/images/search_button2.jpg) no-repeat scroll 0 0 transparent;
	border: 0px;
	text-indent: -9999px;
}

#searchButton button:hover {
	cursor: pointer;
}

#searchButton button:active {
	background-image: url(/images/search_button_rollover2.jpg);
}

#smallSearchButton button {
	width: 63px;
	height: 21px;
	float: right;
	background-image: url(/images/little_search_button.png);
	border: 0px;
	text-indent: -9999px;	
	background-repeat: no-repeat;
	text-decoration: none;
}

#clearButton button {
	width: 86px;
	height: 21px;
	float: right;
	background-image: url(/images/clear_form_button.png);
	border: 0px;
	text-indent: -9999px;	
	background-repeat: no-repeat;
	text-decoration: none;
	margin-right: 5px;
}

#item_title, 
#adv_search, 
#list_heading, 
#tool_heading,
.request-heading {
  color: #333;
	font-size: 19px;
	padding-top: 1.2em;
}

#list_heading a {
	color: #F0F5FF;
	text-decoration: underline;
}

#content #how_to_use_search {
	width: 135px;
	padding-top: 7px;
	padding-left: 9px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 12px;
}
#content #how_to_use_search a {
	color: #244C94; }
#content #search_toggle {
	float: right;
	padding: 1em 15px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 13px; }
.adv_search_filter {
  font-size: 14px;
  padding-bottom: 0.33em;
  text-align: center; }

#content #search_toggle a {
	color: #0A3685;
}
#content #adv_search_toggle {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 12px;
	text-align: right;
	width: 270px;
	margin-top: -13px;
	margin-left: 452px;
}
#content #adv_search_toggle a {
	color: #0A3685;
}
#content #header,
#content #video_header {
	width: 490px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #464646;
	margin-top: 75px;
}
#content #header img,
#content #video_header img {
	padding-top: 20px;
}
#content #recently_added_items {
	height: auto;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 25px; }
#special_collections_content {
	width: 600px;
	padding-top: 2em;
	margin-right: auto;
	margin-left: auto;
	line-height: 23px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 14px; }
#content #adv_search_content {
  float: left;
	width: 400px;
	padding-top: 2em;
	margin-right: 15px;
	margin-left: 10px;
	line-height: 23px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 13px; }
#content .article-advanced #adv_search_content {padding-top: 0.5em;}
#content #adv_search_content #txt1 {
	width: 140px;
	height: 25px;
}
#content #adv_search_content form select {

}
#content #adv_search_content #txt2 {
	width: 125px;
	height: 25px;
}
#adv_search_content .advsearch_field {
	margin-bottom: 10px;
}
#adv_search_content .advsearch_field input {
	font-size: 15px;
	padding: 3px;
	width: 380px;
	background: #FFF;
  border: 1px solid #7b776F;
  font-size: 14px;
  height: 26px;
  padding: 3px 6px;
  -webkit-box-shadow: 0 1px 3px rgba(44, 44, 44, 0.2), inset 0 0 7px rgba(88, 88, 88, 0.2);
  -moz-box-shadow:    0 1px 3px rgba(44, 44, 44, 0.2), inset 0 0 7px rgba(88, 88, 88, 0.2);
  box-shadow:         0 1px 3px rgba(44, 44, 44, 0.2), inset 0 0 7px rgba(88, 88, 88, 0.2);
   -webkit-border-radius: 8px;
   -moz-border-radius:    8px;
   border-radius:         8px;
  -webkit-background-clip: padding-box;
  -webkit-appearance: textfield;
}
#adv_search_content .advsearch_field h4  {
  font-size: 14px;
  font-weight: bold;
	margin-bottom: 4px;
	margin-top: 24px;
	padding-left: 0.25em; }
.advsearch_buttons {
  font-size: 14px;
	text-align: right; }
.adv_search_sort {font-size: 14px; margin: 1.5em 0; text-align: center;}
.adv_sort_label {padding-right: 0.5em;}
.adv_search_buttons {clear: both; margin: 1.67em auto; width: 200px;}
#advanced_search.advanced_button {	height: 40px; margin-top: 0; margin-right: 20px;}
#advanced_search.advanced_button, .reset.advanced_button {
  background: #ccc9c4; 
  border: 1px solid #79673F; 
  color: #321; 
  display: block;
  float: left;
  font-size: 16px;
  font-weight: bold;
  line-height: 34px;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  -webkit-text-shadow: 0px 1px 0px #FFF;
  -moz-text-shadow:    0px 1px 0px #FFF;
  text-shadow:         0px 1px 0px #FFF;
  -webkit-box-shadow: 0 1px 3px rgba(44, 11, 0, 0.3);
  -moz-box-shadow:    0 1px 3px rgba(44, 11, 0, 0.3);
  box-shadow:         0 1px 3px rgba(44, 11, 0, 0.3); 
  background-image: -moz-linear-gradient(top, #FFFCFA, #AAA7A2);
  background-image: -webkit-linear-gradient(#FFFCFA, #AAA7A2);
  background-image: linear-gradient(top, #FFFCFA, #AAA7A2); }
.no-cssgradients #advanced_search.advanced_button, .no-cssgradients .reset.advanced_button {background: url('/images/button-gradient-ie.jpg') repeat-x scroll 0 0 #ccc9c4; border: 1px solid #aca9a4;}
.reset.advanced_button {height: 38px; line-height: 36px;}
#advanced_search.advanced_button:hover, .reset.advanced_button:hover {
  background-color: #CCC;
  background-image: -moz-linear-gradient(top, #FFFCFA, #CCCAC5);
  background-image: -webkit-linear-gradient(#FFFCFA, #CCCAC5);
  background-image: linear-gradient(top, #FFFCFA, #CCCAC5); }
#advanced_search.advanced_button:focus, .reset.advanced_button:focus { 
  background-color: #d6d6d6; 
  outline: none; 
  -webkit-box-shadow: 0 1px 5px #59D;
  -moz-box-shadow:    0 1px 5px #59D;
  box-shadow:         0 1px 5px #59D; }
#advanced_search.advanced_button:active, .reset.advanced_button:active {
  -webkit-box-shadow: inset 0 0 5px #444;
  -moz-box-shadow:    inset 0 0 5px #444;
  box-shadow:         inset 0 0 5px #444; }

#advanced_search_facets {margin-top: 90px;}
#advanced_search_facets ul { background: #F7F3EA; border-top: 1px solid #C4B18D; border-left: 1px solid #C4B18D; border-bottom: 1px solid #C4B18D; color: #604927; list-style: none inside none; margin: 0 0 1em 0; padding: 0; -moz-text-shadow: 0 1px 0px #FFF; -webkit-text-shadow: 0 1px 0px #FFF; text-shadow: 0 1px 0px #FFF; -moz-border-radius: 8px 0 0 8px; -webkit-border-radius: 8px 0 0 8px; border-radius: 8px 0 0 8px; -moz-box-shadow: 0px 2px 3px #CCC; -webkit-box-shadow: 0px 2px 3px #CCC; box-shadow: 0px 2px 3px #CCC; -webkit-background-clip: padding-box; }
#advanced_search_facets ul li { 
  border-top: 1px solid #ede7db; 
  border-bottom: 1px solid #e1d7c5; 
  -webkit-transition: background 200ms ease-in-out;
  -moz-transition: background 200ms ease-in-out;
  -o-transition: background 200ms ease-in-out;
  transition: background 200ms ease-in-out; }
#advanced_search_facets .facet-category-label {display: block; font-size: 14px; font-weight: bold; padding: 0.67em 1em;}
#advanced_search_facets ul li:hover { background: #FCF8EF; border-top: 1px solid #dbd0ba; cursor: pointer; }
#advanced_search_facets ul li.first { -moz-border-radius: 8px 0 0 0; -webkit-border-radius: 8px 0 0 0; border-radius: 8px 0 0 0; -webkit-background-clip: padding-box; }
#advanced_search_facets ul li.facet-category-heading {background: #FFFEFD; cursor: auto; text-transform: uppercase; font-size: 12px;}
#advanced_search_facets ul li.last { -moz-border-radius: 0 0 0 8px; -webkit-border-radius: 0 0 0 8px; border-radius: 0 0 0 8px; -webkit-background-clip: padding-box; }
#advanced_search_facets ul ul { background: #fefdfa; color: #222; display: none; -webkit-text-shadow: none; -moz-text-shadow: none; text-shadow: none; }
.no-js #advanced_search_facets ul ul {display: auto;}
#advanced_search_facets ul ul li {border-top: 1px solid #efede9; border-bottom: 1px solid #d5d2d0; padding: 0.75em 0.5em; }
#advanced_search_facets ul ul li:hover {background: #fff; border-top: 1px solid #def; cursor: auto;}
#advanced_search_facets ul ul li input {margin-right: 0.5em;}

#footer {
	clear: both;
	height: 146px;
	width: 100%;
	background-image: url(/images/footer_bg.jpg);
	background-repeat: repeat-x;
}
#footer #container {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	height: 115px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	color: #FFF;
	padding-top: 17px;
}
#footer #container #left_text {
	width: 325px;
	font-size: 11px;
	font-weight: bold;
	color: #B9CAE6;
	line-height: 21px;
}
#footer #container #left_text a {
	color: #FFF;
}
#footer #container #right_text {
	width: 600px;
	margin-left: 380px;
	margin-top: -63px;
	font-size: 11px;
	color: #A7BDDF;
	text-align: right;
	font-weight: bold;
	line-height: 21px;
}
#footer #container #right_text a {
	color: #FFF;
}
#footer #container #footer_divider {
	height: 1px;
	width: 980px;
	margin-top: 12px;
	margin-bottom: 12px;
}
#footer #container #federal_lib_logo {
	float: left;
	height: 34px;
	width: 37px;
}
#footer #container #bottom_text {
	font-size: 11px;
	font-weight: bold;
	color: #B9CAE6;
	margin-left: 44px;
}
#footer #container #bottom_text a {
	color: #FFF;
}
#searchTools {
}
.resultNav.top {
	margin-left: 15px;
}
.resultNav.top a {
	color: #0A3685;
	text-decoration: none;
}
.document {
	position: relative;
}
.document.clearFix { margin-bottom: 2em;}
.article-page .document b {font-weight: normal;}

.previewThumbImg {
	width: 50px;
	max-width: 110px;
}
#catalogShow .imageCollection.previewThumbImg {
	background: #f2f2f2;
	border-right: 1px solid #DDD;
	float: left;
	height: 125px;
	width: 153px;
	line-height: 125px;
	margin-bottom: 15px;
	padding: 10px;
	text-align: center;
	vertical-align: middle;
}
#catalogShow .imageCollection.previewThumbImg.first {
	border-left: 1px solid #DDD;
}

#identifierFields #titleField {
	font-size: 25px;
	color: #604927;
	font-family: "Cardo", "Times New Roman", Times, serif;
	font-weight: 700;
	-webkit-text-shadow: 0px 1px 3px #eee;
	-moz-text-shadow:    0px 1px 3px #eee;
	text-shadow:         0px 1px 3px #eee; }
#identifierFields {
	padding-bottom: 10px;
	padding-top: 10px;}
.tools.box a {
	color: #0A3685;
	text-decoration: none;}


/* =Availability and Holdings
-------------------------------------------------------------- */

.holding h3 {
	clear: both;
	float: left;
	font-weight: bold;
	font-size: 14px;
	color: #333;
	padding-top: 0.35em;
	padding-bottom: 1em;
	width: 140px;}
.availability_loader {
	margin-top: 10px;
	margin-left: 330px;}
#availability {
	border-bottom: 1px solid #dad0b5;
	position: relative;}
#articlesIndex .dialog_box {
  background: url("/images/popup_background.png");
  height: 641px !important;}
#availability .holding div.holdingGroup,
#availability .onlineHolding,
.dialog_box .holding div.holdingGroup,
.dialog_box .onlineHolding {
	clear: none;
	float: right;
	width: 530px;}
#availability .onlineHolding,
.dialog_box .onlineHolding {	padding-top: 0.4em;}
#availability .holding div.holdingGroup .homeLocation,
.dialog_box .holding div.holdingGroup .homeLocation {
	clear: both;
	width: 100%;}
#availability .holding div.holdingGroup .summaryText,
.dialog_box .holding div.holdingGroup .summaryText {
	clear: none;
	display: inline;
	float: none;
	line-height: 1.6em;
	padding-right: 0.5em;}
#availability .holdingGroup .summaryNote,
.dialog_box .holdingGroup .summaryNote {	font-style: italic;}
.holding.health_sciences .summaryNote {	display: none !important;}
#availability #physicalAvailability {
	padding: 0;
	width: 700px;}
#availability #googlePreview,
#availability #onlineAvailability,
#availability .recallAndLeo,
#availability #physicalAvailability div.holding {
	background-color: #FEF7E5;
	border-left: 1px solid #dad0b5;
	border-right: 1px solid #dad0b5;
	padding: 0.5em 10px;
	width: 678px;}
#availability .recallAndLeo {
	background: transparent;
	border: none;
	padding: 1em 10px;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;	
	width: 580px;}
#availability #googlePreview h3,
#availability #onlineAvailability h3 {
	display: inline;
	padding-right: 20px;
	width: 120px;}
.recall {font-weight:bold;}
.holdings {
	clear: both;
	width: 700px;}
.holdings thead {
	border-left: 1px solid #dad0b5;
	border-right: 1px solid #dad0b5;}
.holdings th {
	background: #ece5d2;
	border-bottom: 1px solid #d6ceb7;
	color: #142b4d;
	font-weight: bold;
	padding: 0.5em;}
.holdings tr.even {
	background: #f2f2f2;
	border-right: 1px solid #f2f2f2;}
.holdings tr.odd {
	background: #e5e5e5;
	border-right: 1px solid #e5e5e5;}
.holdings td {
	border: none;
	color: #061e42;
	padding: 0.33em 0.5em;}
.holdings .library_name {	width: 130px;}
.holdings .location_name {	width: 150px;}
.holdings .map_it {	display: none;}
.holdings .num_available {	width: 160px;}
.holdings .call_number {	width: 200px;}
.holdings .no_info {
	font-style: italic;
	text-align: center;}
.dataTables_wrapper {
	border-top: 1px solid #d6ceb7;
	width: 700px;}
.account_container .dataTables_wrapper {border-top: none;}
.account_container th.sorting_asc, .account_container th.sorting_desc, .account_container th.sorting {cursor: pointer;}
.account_container th.hidden-heading.sorting_asc, .account_container th.hidden-heading.sorting_desc, .account_container th.hidden-heading.sorting {background: #f2f8ff;}
.account_container th.sorting {background: url('/images/action_arrow_both.gif') no-repeat scroll 102% 7px #f2f8ff;}
.account_container th.sorting_asc {background: url('/images/action_arrow_up.gif') no-repeat scroll 102% 7px #f2f8ff;}
.account_container th.sorting_desc {background: url('/images/action_arrow.gif') no-repeat scroll 102% 6px #f2f8ff;}
.dataTables_wrapper select, 
.dataTables_wrapper input {	height: 1em;}
#availability div.dataTables_length {
	background: #ece5d2;
	border-left: 1px solid #dad0b5;
	float: left;
	height: 26px;
	padding: 8px 4px;
	width: 220px;}
#content div.dataTables_filter {
	background: #ece5d2;
	border-left: 1px solid #dad0b5;
	border-right: 1px solid #dad0b5;
	clear: none;
	height: 26px;
	padding: 8px 6px;
	width: 686px;}
#content h1 {	font-weight: bold;}
.dataTables_filter input {
	border: 1px solid #DAD0B5;
	font-size: 13px;
	height: 19px;
	width: 300px;
	padding: 3px 4px;}
.dataTables_filter label { display: none;}
.dataTables_filter input.default_filter {	color: #AAA;}
#details dt {
	font-weight: bold;
	color: #121212;
	padding-top: 10px;
	padding-bottom: 10px;}
#details dd {
	padding-top: 10px;
	padding-bottom: 10px;}
#details a {
	color: #0A3685;
	text-decoration: none;}
#details .show_details {
	clear: both;
	color: #0A3685;
	cursor: pointer;
	display: block;
	font-weight: bold;
	padding: 15px 0 10px 139px;
	text-decoration: none;
}
#details .show_details .always_show {	margin-left: 3em;}
#details .show_details:hover {	color: #0A3685;}
.details .metadata dt {	font-weight: bold;}
.details dd {	padding-bottom: 4px;}
.availability a {	text-decoration: none;}

#sort_form {
	font-weight: bold;
	color: #444;
}
#PerPageContainer {
	font-weight: bold;
	color: #444;
}
#SelectClearAll {
  color: #CCC;
  float: left;
  line-height: 13px;
  margin: 2px 14px;
  position: relative;
  z-index: 30;
}
#SelectClearAll a {
  background: url('/images/add-marked-list.gif') no-repeat scroll 2px 50% #EEF5FB;
  border-left: 1px solid #A4C6EF;
  border-right: 1px solid #A4C6EF;
  border-top: 1px solid #A4C6EF;
  font-weight: bold;
  padding: 5px 4px 2px 20px;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius:    4px 4px 0 0;
  border-radius:         4px 4px 0 0;
}
#SelectClearAll a:hover {  color: #000; }
#ViewListContainer {
  color: #CCC;
  float: right;
  line-height: 13px;
}
#ViewListContainer a {
  border-bottom: 1px dotted #8e9cb2;
  font-weight: bold;
  padding: 3px 1px;
}
#ActionListContainer {
  float: left;
  font-weight: bold;
  height: 22px;
  margin-left: 25px;
  position: relative;
  width: 170px;
  z-index: 40;
}

#ActionListContainer .action_list {
  background: url('/images/marked-list.gif') no-repeat scroll 0 33% transparent;
  height: 22px;
  z-index: 30;
}
#ActionListContainer .list_title {
  background: url('/images/action_arrow.gif') no-repeat scroll 100% 50% transparent;
  border-bottom: 1px dotted #b6bfce;
  color: #0F3E83;
  line-height: 13px;
  padding: 4px 1px 4px 19px;
  position: absolute;
  width: 149px;
  z-index: 30;
}

#ActionListContainer .list_body {
  background: #fffefc;
  border-bottom: 1px solid #edd;
  border-left: 1px solid #edd;
  border-right: 1px solid #edd;
  display: none;
  position: absolute;
  top: 22px;
  z-index: 20;
  -webkit-box-shadow: 0px 2px 3px #AAA;
  -moz-box-shadow:    0px 2px 3px #AAA;
  box-shadow:         0px 2px 3px #AAA;  
}

#ActionListContainer .list_body .all_star_menu {  border-bottom: 1px dotted #ccc; }

#ActionListContainer .list_body li {
  border-bottom: 1px solid #fffefc;
  border-top: 1px solid #fffefc;
  color: #AAA;
  padding: 4px 8px;
  width: 153px;
}

#ActionListContainer .list_body li a {
  display: block;
  width: 100%;
}

#ActionListContainer .list_body li:hover {
  background: #fffee2;
  border-bottom: 1px solid #E0D9CA;
  border-top: 1px solid #E0D9CA;
}

.no-starred {font-style: italic; margin-left: 1.5em; padding: 1em 0;}
.starred-info {color: #555; font-size: 14px; font-style: italic; line-height: 1.5em; padding: 0.5em 6em 1em; text-align: center;}
.starred-info strong {font-weight: bold;}
.link_disabled {  color: #888 !important; }

.holdingLocation div {
	padding-bottom: 5px;
}
.recallAndLeo {
	padding-top: 3px;
}
#availability a {
	color: #0A3685;
	text-decoration: none;
}

.availability_container {
	height: 680px !important;
	width: 804px !important;
	background-image: url(/images/popup_background.png);
	background-repeat: no-repeat;
}
.availability_container .dialog_box {
	background: #FFF;
	margin: 0 auto;
	padding: 20px;
	height: 524px !important;
	width: 700px !important;
	overflow-y: hide;
	overflow-y: auto;
}
.availability_container .ui-dialog-titlebar {
	height: 48px;
	margin-top: 3px;
	text-align: center;
	font-family: "Helvetica Neue", Arial, sans-serif;
	line-height: 45px;
	font-size: 16px;
	font-weight: bold;
	color: #CADEFF;
}
.availability_container .ui-dialog-titlebar-close {
	background: url(/images/close_button.jpg);
	float: right;
	margin-right: 15px;
	margin-top: 10px;
	height: 28px;
	width: 28px;
	text-indent: -9999px;
}

.availability_container a.ui-dialog-titlebar-close {
	color: #FFF;
	font-size: 13px;
	font-weight: normal;
}

.availability_container .recallAndLeo {
	clear: both;
	padding-bottom: 1em;
}

.box_container .ui-dialog-titlebar {
	display: none;
}

#SortFormContainer {
	margin-left: 8px;
}
#resultsRSS {
	margin-right: 15px;
}
.printPreview {
	margin-top: 20px;
	margin-bottom: 10px;
	width: 75px;
	color: #173585;
	text-decoration: none;
}
#results a {
	color: #173585;
}
.pagination a{
	color: #173585;
}

#body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
}

#returnToSearch, #markedListTools, #returnToItem, .add_star, #catalogShow #ActionListContainer {
	padding: 0.5em 0;
}

#returnToSearch, #previousNextDocument {
	color: #DDD3C7;
}

.add_star {
  float: left;
  padding-right: 4px;
  width: 100px;
}

.add_star .folder_container .addFolderForm .submitForm {
  background: url('/images/unmarked-list.gif') no-repeat scroll 0 6px transparent;
  display: block;
  padding-left: 20px;
}
#results .document .tools .folder_container .submitForm.saving-star {
  background-image: url('/images/marked-list-saving.gif');
}
.add_star .folder_container .deleteFolder_link, .add_star .folder_container .deleteFolderArticle_link {
  background: url('/images/marked-list.gif') no-repeat scroll 0 6px transparent;
  display: block;
  padding-left: 20px;
}
#folder_full_notice {font-size: 15px; padding: 10px;}
#folder_full_notice a {text-decoration: underline;}

#catalogShow #ActionListContainer {
  padding-left: 0;
  margin: 1px 4px 0;
}

#catalogShow #ActionListContainer .list_body {
  margin-top: 12px;
}

#catalogShow #ActionListContainer .action_list {
  background: none;
}

#catalogShow #ActionListContainer .list_title {
  padding-bottom: 2px;
  padding-left: 2px;
  width: 168px;
}

#catalogShow #ActionListContainer li,
#catalogShow #ActionListContainer a {line-height: 20px;}
li.Z3988-container {display: none;}
#folderIndex #list_heading {margin-bottom: 0.5em;}
#folderIndex #account_menu.tools h2 {font-size: 15px; font-weight: bold; line-height: 3em; margin: 0; padding: 0 0.5em; text-align: right; background: url("/images/marked-list.gif") no-repeat scroll 33% 49% #fffefa; }
#folderIndex #account_menu ul ul { margin: 0; list-style: square outside none;}
#folderIndex .tools ul ul li {border: none;}
#folderIndex .tools ul ul li a {font-size: 13px; line-height: 2em;}
#folderIndex #returnToSearch {float: left; padding-left: 15px;}
#folderIndex .pagination h2 {  display: none;}
#folderIndex #searchTools {float: left; padding-top: 4px;}
#folderIndex .prev_page {float: left;}
#folderIndex .next_page {float: right;}
#folderIndex #results {	margin: 0.77em auto 1.54em; }
#folderIndex .remove-item {padding-left: 15px;}

#catalogCitation .tool_heading h1 {
	color: #5B4418;
  font-size: 1.54em;
	font-weight: bold;
	line-height: 1.923em;
	margin: 1.54em 0 1.54em;}
#catalogCitation .tool_content {  padding-top: 0;}
#catalogCitation .tool_content h1 {
  color: #5B4418;
  font-size: 1.33em;
	font-weight: bold;
	margin: 2em 0 0.5em; }
#catalogCitation h4 {
  color: #444;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 100%;
	font-weight: bold;
	margin: 0.67em 0 0.1em; }

.tool_content {	padding: 3em 2em;	line-height: 1.5em; }
.tool_content h2, #list_heading + h2 {	font-size: 16px; padding: 1em 0; }
.tool_content input, .tool_content textarea, .tool_content select {
	margin-bottom: 1.5em;
	padding: 3px;
	font-size: 13px; }
.tool_content textarea {
	width: 300px;
	height: 7em;
	padding: 3px;
	font-size: 13px; }
.tool_content label {
	display: block;
	font-size: 15px;
	font-weight: bold;
	margin: 0;
	padding: 15px 0 10px; }
.tool_content input[type='submit'] {	margin-top: 15px; }
.tool_content .search_history td {	border: none;	padding: 0.67em 0; }
.tool_content .search_history td.actions a {	padding: 0.5em 1em;	background: #eee; }
.tool_content .search_history td.query {	width: 200px; }

#advanced_search_help {
	background:none repeat scroll 0 0 #FAF7E3;
	border:1px solid #E4DFA5;
	float:left;
	margin-top:30px;
	margin-bottom: 1em;
	padding:10px 0 0 0;
	width:250px;
	font-size: 13px; }
#advanced_search_help h2 {
  font-size: 15px;
	font-weight: bold;
	margin-bottom: 0.5em;
	padding: 0 10px; }
#advanced_search_help ul {
	margin-bottom: 1em;
	padding: 0 10px; }
#advanced_search_help li {
	padding: 0.25em;
	margin-bottom: 5px;
	margin-left: 15px;
	line-height: 1.2em;
	list-style: disc outside none; }
#advanced_search_help p {  margin-bottom: 0.75em;}
#advanced_search_help p.advanced-example-heading {font-style: italic; margin-bottom: 0.5em;}
#advanced_search_help pre { font-weight: bold; line-height: 1.2em; margin-bottom: 0.5em;}
#advanced_search_help .advanced-search-switch {background: #E9DABF; border-bottom: 1px solid #A69F7A; border-top: 1px solid #E2D5B9; color: #B6AF8A; padding: 10px 5px; text-align: center;}
#advanced_search_help .advanced-search-switch a {font-weight: bold;}
.advanced_search_link {	font-weight:bold; }

.clearFix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}
.clearFix {
	display: inline-block;
	float: none !important;
}
* html .clearFix {
	height: 1%;
}
.clearFix {
	display: block;
}

/* From structure.css */
/* ========================
Page Hierarchy
======================== */
body {min-width:1010px;}
#page {}
#pageInner {}
#topNavInner,
	#headerInner,
  #contentInner,
  #footerInner {width:1010px; padding:0; margin:0 auto; text-align:left;}

#header {background: #fff;}
#header, #headerInner {overflow:visible; position:relative; z-index:5;}
#headerInner {min-height:80px;}

#content {z-index: 20; padding-bottom:30px; border-left: 1px solid #eee;}
#content,
#contentInner,
  #contentInner2 {position:relative; overflow:visible;}

#mainInner {background:url(../../images/main_col_right_edge.png) no-repeat top right; position:relative; width:100%;}
#mainInner2 {padding:80px 30px 0; overflow:visible; background: url(../../images/main_col_left_edge_gutter.png) left top no-repeat; min-height:420px; }
#searchInner {margin:3px 30px 0 30px; position:relative; width:701px; overflow:visible; display:block; padding:0; background: url(../../../../images/blacklight/search_L.gif) no-repeat bottom left;}

#sub1Inner {position:relative;}
#sub1,
  #sub1 div {overflow:visible;}
#sub1 h2 {font-weight: bold;}

#footer {background:#195DA3; color:#FFF;}
#footerInner {}
.col.first {}


/* ========================
Page Elements
======================== */
/* HEADER */
#topNav {background:#0B1D38;}
#topNavInner {position:relative; font:normal normal normal 11px/12px helvetica, arial, sans-serif;}
	#topNavInner ul {display:block; position:relative; float:left; margin:0 0 0 7px;}
	#topNavInner li {display:inline-block; float:left; overflow:hidden; text-transform:uppercase;}
	#topNavInner li a, #topNavInner li a:visited, #topNavInner li a:hover {display:inline-block; padding:8px; color:#A2BCD0;}
	#topNavInner li a:hover {background:#1C2D4E; color:#FFF;}
	#topNavInner div.uvaLogo {float:right; margin-right:5px;}
	#topNavInner .uvaLogo a#logo {display:block; height: 12px; width: 150px; position:relative; padding:8px 75px; background: url(../images/blacklight/uva_logo2.gif) center right no-repeat;}
#branding {width:250px; float:left;}
#branding a#logo:link,
  #branding a#logo:visited,
  #branding a#logo:hover,
  #branding h1#logo{float:left; height:80px; width:300px; border-bottom:none;margin:0; background:none;}
body.uvalib-hd1 #branding a#logo:link,
  body.uvalib-hd1 #branding a#logo:visited,
  body.uvalib-hd1 #branding h1#logo{height:30px;}
#header p {padding:0; margin:0; font:italic normal normal 11px/14px helvetica, arial, sans-serif; color:#B0CFF4;}
#header p.beta_message {text-align:left; width:320px; margin:25px 0 0 135px; float:left; }
#headerInner .virgo_beta {float:left; padding-left:16px;}
	#header img#virgo_beta {float: left;}
#header #virgo_beta {border:none;}
#header .aboutVirgo {display:block; float:right; margin:43px 261px 0 0; padding-right:10px; color:#EDAF3D; border-right: 1px solid #4E5E6D; font-size:11px;}
#header .aboutVirgo:hover {color:#E7C584;}
#globalUtilNav {z-index:20; width:auto; margin:53px 10px 0 0; clear:both;}
#globalUtilNav * {clear:both;}
#globalUtilNav li{overflow:hidden;}
#globalUtilNav em.small{font-size:.85em;font-weight:bold;color:#CADCF3;}
div.NetbadgeLogin {position:relative;}
	div.NetbadgeLogin .login {display:block; font-style:normal; margin:0; padding-right:6px;}
	.login .button { min-width:135px; padding:2px 10px 2px 10px; margin-bottom:2px; color:#264C84; font-weight:bold; border:1px solid #DBE8FA; background:#A5BDE4; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
		background: -webkit-gradient(linear, left bottom, left top, color-stop(1, rgb(248,250,255)), color-stop(0.5, rgb(205,226,255)), color-stop(0.49, rgb(176,209,251)), color-stop(0, rgb(185,214,255)));
		background: -moz-linear-gradient(top, #f8faff, #cde2e1 49%, #b0d1fb 50%, #b9d6ff);
		}
  .login {overflow:hidden;}
	.login .button a,
		.login .button a:hover,
		.login .button span {display:block; min-width:135px; color:#264C84;}
  .login .button span {padding-right:30px; background:url(../images/blacklight/admin_dropdown.gif) no-repeat right center;}
	.login .button a:hover {color:#002B59; }
	.login ul {display:none;/*shown on hover*/ background:#132951; border:1px solid #11264C;  border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;  box-shadow: 1px 1px 2px #333; -moz-box-shadow: 1px 1px 2px #333; -webkit-box-shadow: 1px 1px 2px #333;}
	.login ul li {min-width:155px; padding:0;}
	.login ul li:hover {}
div.NetbadgeLogin .login ul a:link,
  div.NetbadgeLogin .login ul a:visited {min-width:135px; display:block; width:100%; padding:4px 10px; color:#FFF; text-decoration:none; border-bottom:1px solid #132242; border-top:1px solid #1B305C;}
div.NetbadgeLogin .login ul a:hover {background:#24426E; border-bottom:1px solid #0C162B; border-top:1px solid #51688A;}
div.NetbadgeLogin a.feedback, 
  #header div.NetbadgeLogin a.feedback:hover {margin:0 3px; padding-right:12px; background:url(../../images/blacklight/arrow.gif) no-repeat right;}


/* CONTENT */
#main hr,
#sub1 .box hr{position:static;}
#sub1 h2,
#sub2 h2 {
	margin-top: 0; font-size: 1.23em;}	

/* #main .hd{margin:0 20px -10px 0;padding:0;background:url(../../images/content_col_backgrounds/title_2col_630-330.png) left top no-repeat;} */
body.uvalib-t1 #main .hd{margin-right:0;/*width:994px;*/ background:url(../../images/content_col_backgrounds/title_1col_980.png) left top no-repeat;}
#main .bd{margin:20px 20px 0 0;padding:0 20px 0 20px;}

/* FOOTER */ 
#footer{clear:both;color:#A7BDDF;background:#4672AF url(/images/footer_bg.jpg) top repeat-x;}
#footerInner{padding-top:20px;line-height:2em;font-size:85%;/* ~11px */
font-weight:bold;}
#footer p{margin:0;}
#footer .col{float:right;width:600px;text-align:right;}
#footer .first{float:left;width:360px;text-align:left;}
#footerHomeLink{font-size:114%;font-weight:bold;line-height:2.2em;color:#FFF;}
#copyrightLink{font-size:114%;line-height:1em;font-weight:bold;}

#footer a:link,
#footer a:visited{font-weight:bold;color:#E6E8F5;border-bottom:1px dotted #839DBF;text-decoration:none;}
#footer a:hover,
#footer a:hover{border-bottom:1px solid #FFF;text-decoration:none;background:none;}

/* FDLP footer content */
#fdlpInfo {clear: both;padding-top: 1em;line-height: 1.8em;font-weight: bold;border-left-color: #7499CF;}
a#fdlpBadge, a#fdlpBadge:visited, a#fdlpBadge:hover {text-decoration: none;border: none;}
#fdlpInfo img {vertical-align: top;}
#fdlpInfo p {padding-top: 1em;border-top: 1px solid #648FC7;margin: 0;}

/* end from structure.css */

/* from defaults.css */



/* Blockquote in #main */
#main blockquote{margin-left:2.4em;font-style:italic;}

/* Ordered and unordered lists in #main with some spacing between items */
#main .spacedList dt{margin-top:1.25em;}
#main .spacedList .unspacedList{margin-top:1.25em;}
#main .spacedList .unspacedList li{margin-top:0;margin-bottom:0;}
dt{font-weight:bold;}
dd{margin-left:1.15em;}

blockquote,q{quotes:none;}
blockquote:before,blockquote:after,
q:before,q:after{content:'';content:none;}

/* Focus is defined only on appropriate elements and sometimes with something different than an outline */
/* :focus{outline: #DC8 2px dotted;} */
.skip:focus {outline: 0;}

/* remember to highlight inserts somehow! */
ins{text-decoration:none;}
del{text-decoration:line-through;}

/* Tables */
table{border-collapse:collapse;border-spacing:0;/* tables still need 'cellspacing="0"' in the markup */
margin-bottom:1.54em;/* give a bottom margin,just like <p> tags,etc. */}
caption,th,td{text-align:left;font-weight:normal;}
table,td,th{vertical-align:middle;}
table.full{width:100%;}
table.fixed{table-layout:fixed}

/* Hide any <hr /> elements not in the main and sub content areas */
hr{position:absolute;left:-3000px;}
#main hr,
#sub1 hr,
#sub2 hr,
#sub3 hr{position:static;color:#fff;background:transparent;margin:0 0 0.5em 0;padding:0 0 0.5em 0;border:0;border-bottom:1px #eee solid;}

/* Links */ 
a,a:visited{color:#0F3E83;}
a:visited{/*color:#3F6DAF;*/ /* lighter blue */}
a,.menu a{text-decoration:none;}
p a,ul a,ol a,dl a,blockquote a,table a{text-decoration:none;}

/* Make sure it looks like a quote/citation */
blockquote{font-style:italic;}

/* Make acronyms and abbreviations a bit distinct */
acronym,abbr{letter-spacing:.07em;border-bottom:.1em dashed #c00;cursor:help;}
acronym{text-transform:uppercase;}

/* keep the 20px vertical rhythm with bottom margins */
p,ul,ol,dl,blockquote{margin-bottom:1.54em;}

.tool_content.spec_coll {padding-top: 2em;}
#special_collections_requestsIndex h3 {font-size: 18px; margin: 1em 0;}
#special_collections_requests { border:1px solid #BBB; border-collapse: collapse; width: 100%;}
.requests-legend {margin: 2em 0;}
.requests-legend span {line-height: 1.5em; margin-right: 20px; padding: 0.5em 1em;}
.processed-label {background: #DDD; }
.unprocessed-label {background: #FFC; }
.internal-label {background: #CFF; }
#special_collections_requests th, #special_collections_requests td { border: none; padding: 5px; border-bottom: 1px solid #BBB; }
#special_collections_requests th {font-weight: bold;}
#special_collections_requests tr {border-bottom: 1px solid #AAA;}
#special_collections_requests tr.processed {background: #DDD;}
#special_collections_requests tr.unprocessed_internal {background: #CFF;}
#special_collections_requests tr.unprocessed {background: #FFC;}
.dateSelector {font-weight: bold; vertical-align: middle;}

.portal_status {float: right; overflow:hidden;}
.specialCollectionsHeader {
  color: #FFF;
	float: left;
	font-family: Times, "Times New Roman", Georgia, serif;
	font-size: 18px;
	font-variant: small-caps;
	line-height: 21px;
	margin-right: 1em; }
#virgo_banner .returnToGeneral {color: #69b1d7; float: left; font-family: Arial, sans-serif; font-size: 13px;}
#virgo_banner .returnToGeneral a {color: #69b1d7; text-decoration: underline;}

#special_collections_requestsStart .spec_coll {
	margin: 2em 0;
	text-align: center;
}

#special_collections_requestsStart .spec_coll a {
	font-size: 15px;
	font-weight: bold;
	padding: 0 1em;
	text-align: center;
	text-decoration: underline;
}

/* Accessibility */

/* hide text on screen, but show for screen readers */

.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

#cboxIframe {height: 441px !important; width: 604px !important;}
#frame_popup {
	height: 441px;
	width: 604px;
}
#content #title h1 {
  font-weight: 300;
}
#virgo_container #title.request-heading {width: 695px;}
#virgo_container #requests_container {overflow: auto; width: 600px;}
#request_container {font-size: 14px; line-height: 1.5em; margin: 20px auto; width: 400px;}
#request_container p {text-align: center;}
#request_container p.request-call-select {font-size: 15px; font-weight: 500; padding: 1em 0;}
#request_container select {display: block; margin: 0.5em auto;}
#request_container input[type='submit'] {font-size: 14px; margin-right: 1em;}
#request_container .request-title {font-family: Georgia, "Times New Roman", Times, serif; font-size: 16px; color: #543; margin: 1em 0; text-align: center;}
#request_container .request-submit  {margin-top: 2em; text-align: center;}
.advsearch_field #title {
	height: auto;
	margin-top: 0;
	text-align: left;
	font-family: "Helvetica Neue", Arial, sans-serif;
	line-height: 1.231em;
	font-size: 13px;
	font-weight: normal;
	color: black;
	width: 550px;
	padding-left: 0;
	float: none;
}
.advsearch_field.range_field label {font-size: 14px; line-height: 26px;}
#adv_search_content .advsearch_field.range_field input {
  margin: 0 0 0.5em 5px;
  width: 130px; }
#adv_search_content .advsearch_field.range_field #publication_date_start {margin-right: 30px;}
.ui-icon-closethick {
	display:none;
}
.facetSort {
	text-align:right;
	padding: 1em;
}
.libraryh3lp {
  margin: 0 auto;
  width: 305px;
}
#libraryh3lp-frame {
  border: 1px solid #163c71;
  height: 333px;
  width: 288px;  
}
.libraryh3lp-container {
  display: none;
}
.libraryh3lp-container h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.libraryh3lp-note {
  width: 600px;
  margin: 0 auto;
}
.libraryh3lp
.no_items {
  font-size: 1.33em;
  padding: 1em 0;
  text-align: center;
}
.needs-js {display: none;}
.libraryh3lp-frame-container {display: block;}
.no-js .libraryh3lp-container {display: none;}

/* Video Search */

#video_genres {margin: 10px auto; width: 490px;}
#video_genres + #header {margin-top: 40px;}
.genre_list {overflow: hidden; margin: 2em 0 1em; padding: 0; width: 100%;}
.genre_list .genre {
  background: #e4ecfd; 
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e4ecfd));
  background: -moz-linear-gradient(top,  #fff,  #e4ecfd);
  float: left; 
  font-size: 17px; 
  margin: 0.33em 10px; 
  border: 1px solid #dde5f6;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-box-shadow: 0 0 5px #e4ecfd;
  -moz-box-shadow: 0 0 5px #e4ecfd;
  box-shadow: 0 0 5px #e4ecfd; 
  -webkit-text-shadow: 0 1px 0 #FFF;
  -moz-text-shadow:    0 1px 0 #FFF;
  text-shadow:         0 1px 0 #FFF; }
.genre_list .genre:hover {background: #f3faff;}
.genre_list .genre a {display: block; padding: 0.67em 11px; width: 200px;}
.genre_list .genre a:hover {color: #000;}

.document.video_doc {background: #EEE; clear: both; display: block; margin-bottom: 0; position: relative; width: 727px; z-index: 10;}
.document.video_doc.video_head_row {background: #EEF5FB; border-bottom: 1px solid #A4C6EF; border-top: 1px solid #A4C6EF; color: #5A5D5F; overflow: hidden;}
.document.video_doc.odd {background: #FFF;}
.document.video_doc > div {display: block; float: left; overflow: hidden; padding: 9px 7px 7px 0; vertical-align: middle;}
.document.video_doc .title {width: 214px;}
.document.video_doc .listItemNumber {margin-right: 0; padding: 9px 2px 7px 6px; line-height: 1.231em; width: 20px;}
.document.video_doc .tools {padding-left: 0; width: 16px;}
.document.video_doc .video_head.tools {padding: 8px 18px 6px 0; width: 32px;}
.document.video_doc .format {padding: 7px 7px 4px 0; width: 90px;}
.document.video_doc .video_head.format {padding: 9px 7px 7px 0; }
.document.video_doc .year {width: 36px;}
.document.video_doc .location {width: 106px;}
.document.video_doc .callNumberField {width: 70px;}
.document.video_doc .availability {padding-right: 4px; width: 104px;}
#results .document.video_doc .tools .folder_container {position: static; left: auto; top: auto;}
.linked_title + .main_title {float: left;}
.document.video_doc .format_value {
  background: #7F7A72;
  border: 1px solid transparent;
  color: #FFF;
  float: left;
  margin: 0 6px 2px 0;
  max-width: 80px;
  padding: 2px 4px 1px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  -moz-border-radius:    4px 4px 4px 4px;
  border-radius:         4px 4px 4px 4px;
  -webkit-box-shadow: 0px 0px 3px #AAA;
  -moz-box-shadow:    0px 0px 3px #AAA;
  box-shadow:         0px 0px 3px #AAA; 
  -webkit-text-shadow: 0px -1px 0px #000;
  -moz-text-shadow:    0px -1px 0px #000;
  text-shadow:         0px -1px 0px #000; }
.document.video_doc .format_value.dvd {background: #359;}
.document.video_doc .format_value.vhs {background: #193;}
.document.video_doc .format_value.book {background: #953;}
.document.video_doc .format_value.online {background: #C63;}
.document.video_doc > div.more_info {
  background: #F2F4FA; 
  border: 1px solid #48B;
  display: none; 
  padding: 12px;
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 300px;
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius:    6px 6px 6px 6px;
  border-radius:         6px 6px 6px 6px;
  -webkit-box-shadow: 0px 2px 5px rgba(80, 80, 80, 0.5);
  -moz-box-shadow:    0px 2px 5px rgba(80, 80, 80, 0.5);
  box-shadow:         0px 2px 5px rgba(80, 80, 80, 0.5); 
  z-index: 8000;}
.document.video_doc .more_info h1 {border-bottom: 1px dotted #CFD2E0; margin-bottom: 1em; padding-bottom: 0.67em;}
.document.video_doc .more_info .cover_summary {font-size: 12px; line-height: 1.2em; width: 100%; }
.document.video_doc .more_info .cover_summary.cover_only img {float: none; margin: 0.33em auto;}
.document.video_doc .more_info .cover_summary img {float: left; max-width: 100px;margin: 0.33em 0.67em 0.33em 0;}
.document.video_doc .more_info dl {clear: both; font-size: 12px; margin: 10px auto; padding-top: 10px; width: 100%;}
.document.video_doc .more_info dl dt {color: #444; font-weight: bold; width: 90px !important; margin: 0 10px 5px 0 !important;}
.document.video_doc .more_info dl dd {width: 190px !important; margin: 0 0 5px 95px !important;}

/* My Account */
  
.account_container {padding: 1em 0;}
.account-page.index-page .account_container {padding: 1em 15px;}
#accountIndex .account_container h2 {color: #333; margin-bottom: 0; margin-top: 0;}
.account_container h2 {color: #444; font-size: 18px; margin-bottom: 1em; margin-top: 0.33em; padding-bottom: 0.33em;}
.account_container h2 a {text-decoration: underline;}

#accountIndex .vcard {color: #555; font-size: 15px; margin-top: 0.67em; }
#accountIndex .vcard p {margin: 0; padding-bottom: 0.25em;}
#accountIndex .user-status {line-height: 20px; margin-top: 1em;}
.user-status .user-status-name {
  color: #533902; 
  background: #fccc69; 
  font-weight: bold;
  padding: 3px 7px; }
.user-status a {border-bottom: 1px dotted #0F3E83; margin-left: 1em;}
#accountIndex .account-tasks {font-size: 15px; line-height: 1.67em; margin-top: 2em;}
#accountIndex .account-tasks h2 {border-bottom: 1px solid #DDD; color: #604927; margin-bottom: 0.67em; width: 40%;}
#account_menu ul { border-top: 1px dotted #DAD5CA; margin: 40px 10px 10px 21px; padding: 0;}
#account_menu li {border-bottom: 1px dotted #DAD5CA; margin: 0; padding-left: 0; }
#account_menu li a {display: block; font-size: 15px; line-height: 3em; padding: 0 0.5em; text-align: right; -webkit-transition: background 200ms ease-in-out;
-moz-transition: background 200ms ease-in-out;
-o-transition: background 200ms ease-in-out;
transition: background 200ms ease-in-out; }
#account_menu li a:hover {color: #222; background-color: #fffefa;}

.account-total {font-weight: bold;}
.account-listing {width: 100%;}
.account_container thead {background: #f2f8ff; border-bottom: 1px solid #9cd; border-top: 1px solid #9cd; color: #54545D; font-size: 12px;}
.account_container td, .account_container th {border: none; padding: 0.67em 15px 0.67em 5px; vertical-align: top;}
.account_container tr.odd {background: #f1f1f1;}
.account_container tr.even {background: #fff;}
.account_container td.title {width: 28%;}
.account_container td.date {width: 85px;}
.account_container td.item-number {color: #777; font-style: italic; width: 24px; text-align: right;}
.account_container td.course-name {width: 140px;}
.account-notice-container {font-weight: bold;}
.account-notice {display: block; padding-left: 1em;}
.account-tasks li {color: #777; list-style: square inside none; margin-bottom: 0.5em; margin-left: 0.25em;}
.account-tasks li a {padding-left: 0.33em;}
.account-item-status-heading.hidden-heading, .item-status {display: none;}
.recalled {color: #ca3;}
.overdue {color: #c33;}
.request-available {color: #295;}
.request-pending {color: #777;}
.no-items {color: #777 !important; font-size: 18px; font-style: italic; font-weight: 300; line-height: 120px; text-align: center; }
.current-page .no-items {line-height: 2em; padding: 2em 0; width: 700px;}
#resultLine .current-page .no-items a {float: none;}

#accountCheckouts .checkouts-nav, #accountHolds .holds-nav, #accountReserves .reserves-nav, #accountNotices .notices-nav, #accountStarred .starred-nav {background: #fffefa;}
.starred-nav a {
  background-image: url('/images/marked-list.gif');
  background-position: 20% 49%;
  background-repeat: no-repeat;}
.notices-nav a {
  background-image: url('/images/notice-alert.gif');
  background-position: 46% 49%;
  background-repeat: no-repeat;}
.whats-this {display: none;}
#barred_notice {font-size: 14px; line-height: 1.33em; padding: 1.2em;}
h2.sign-in-heading, h2.error-heading {font-family: "garamond-premier-pro-display", Garamond, Georgia, serif; font-size: 21px; font-weight: 600; margin: 2em auto; text-align: center;}
h2.error-heading {width: 400px;}
.sign-in-select {display: block; font-size: 16px; margin: 1.2em auto; text-align: center;}
.error-links {font-size: 16px; line-height: 1.5em; margin: 0 auto; width: 240px;}
.error-links li {list-style: outside square none; margin-bottom: 1em;}

#refworks_export {margin: 0 auto; width: 60%;}
#refworks_export input {display: block; margin: 0 auto; text-align: center;}
#refworks_export h2 {font-size: 16px; margin: 2em auto; text-align: center;}
