body {margin: 0; padding: 0;}
#frame_popup {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8em;
	height: 410px;
	width: 540px;
}
#frame_popup a {
  color: #0043A1;
	text-decoration: none;
}
#title {
	color: #444;
  font-size: 16px;
	font-weight: bold;
	height: 30px;
	margin-top: 3px;
	text-align: center;
	line-height: 40px;
	padding-left: 0;
	width: 566px;
}
#title h1 {
  font-size: 16px;
	font-weight: bold;
	color: #444;
}
#content_area {
	background-color: #FFF;
	height: 360px;
	width: 566px;
	clear: both;
	margin-right: auto;
	margin-left: auto;
	overflow-y: auto;
}
#left_column {
	width: 248px;
	float: left;
	padding-left: 20px;
}
#left_column li,
#right_column li {
  line-height: 1.15em;	
  list-style-type: none;
  margin-bottom: 1em;
}
#right_column {
	width: 248px;
	float: left;
	padding-left: 20px;
}
.facetSort {
  font-size: 12px;
	text-align: center;
	padding: 1em;
}
.current-sort { color: #626262; font-weight: bold; padding: 0 7px;}
.facetSort a {  font-weight: bold; padding-left: 7px;}


/* =Request Popup
-------------------------------------------------------------- */

#request_container {font-size: 14px; line-height: 1.5em; margin: 20px auto; width: 400px;}
#request_container p {text-align: center;}
#request_container p.request-call-select {font-size: 15px; font-weight: 500; padding-bottom: 1em;}
#request_container select {display: block; margin: 0.5em auto; width: 200px;}
#request_container input[type='submit'] {font-size: 14px; margin-right: 1em;}
#request_container .request-title {font-family: Georgia, "Times New Roman", Times, serif; font-size: 16px; color: #543; margin: 1em 0; text-align: center;}
#request_container .request-submit  {margin-top: 2em; text-align: center;}
#barred_notice { font-size: 14px; margin-left: 20px;}