<% @add_to_html_head = capture do %>
	<%= javascript_include_tag 'http://libraryh3lp.com/js/libraryh3lp.js?multi' %>
<% end %>

<div id="subContent1" class="libraryh3lp-container"><!-- InstanceBeginEditable name="Secondary-Content-1" -->

	<div class="box">
		<div class="bd">
			<div class="needs-js">We're sorry, but the U.Va. Library online chat service requires JavaScript.</div>
			<div class="libraryh3lp libraryh3lp-frame-container" jid="uvalibref@chat.libraryh3lp.com">
			<iframe src="http://libraryh3lp.com/chat/uvalibref@chat.libraryh3lp.com?skin=10937&amp;theme=simpletext&amp;title=Chat%20with%20a%20librarian&amp;identity=librarian&amp;css=http://www2.lib.virginia.edu/askalibrarian/ask.css" frameborder="1" id="libraryh3lp-frame"> 
    		</iframe>
			</div>
			<div class="libraryh3lp" style="display: none; width: 288px;">
			<h2>Chat with a Librarian</h2>
			<p>The U.Va. Library chat service is currently offline. Please try back during our regular hours of operation, or send your question through our <a href="http://www2.lib.virginia.edu/askalibrarian/referenceemail">online form</a> and we will respond within 24 hours.</p>
			</div>
		</div>
	</div>
	<div class="box libraryh3lp-note">
		<div class="hd">
			<h2>Note about Chat Service</h2>
		</div>
		<div class="bd">
			<p>These services are intended primarily for students, faculty, and staff of the University of Virginia. If you are not affiliated with U.Va., we will reply to your inquiry only if it relates to the University or to a resource unique to the University libraries. For general questions, you may wish to contact a local library, or try the <a href="http://www.ipl.org">Internet Public Library</a>.</p>
		</div>
	</div>
	<div class="box libraryh3lp-note">
		<div class="hd">
			<h2>Hours for Chat and Text Message Services</h2>
		</div>
		<div class="bd">
		<p>Chat and text messaging service is available whenever Alderman Library is open. <a href="http://www.lib.virginia.edu/hours#alderman">Click here</a> to view Alderman's hours.</p>
		</div>
	</div>

<!-- InstanceEndEditable -->
</div>
