<aside class="search-elsewhere grid_24 alpha omega">
  <h1 class="elsewhere-heading">Looking for different results?</h1>
  <ul class="elsewhere-links">
    <%= search_elsewhere_links %>
  </ul>
  <h2 class="elsewhere-heading">Elsewhere</h2>
  <ul class="elsewhere-links">
    <li><a href="http://guides.lib.virginia.edu/az">Databases</a></li>
    <li><a href="http://guides.lib.virginia.edu/journalfinder">Journal Finder</a></li>
    <li><a href="http://research.lib.virginia.edu/">Subject Guides</a></li>
  </ul>
</aside>