<div id="list_heading"><h1>No Account Found</h1></div>

<div class="account_container">
  <div class="ui-state-highlight notice">
    No account information found.  Please <a class="btn small" href="http://www2.lib.virginia.edu/askalibrarian/">contact a librarian</a> for assistance.
  </div>
</div>

<% sidebar_items << capture do %>
<% end %>