<div id="list_heading"><h1>My Account</h1></div>
<div class="account_container">
  <h2 class="sign-in-heading">Please sign in to view your account.</h2>
  <%= link_to "U.Va. Users (NetBadge)", login_path, :class => "sign-in-select" %>
  <%= link_to "Non-U.Va. Users (Virgo Classic)", patron_login_path, :class => "sign-in-select" %>
</div>
