<div id="tool_heading"><h1>Signed Out</h1></div>
<div class="tool_content">
You have successfully signed out of VIRGO. To prevent unauthorized access to your <a href="http://www.itc.virginia.edu/netbadge/">Netbadge account</a>, <b>close all web browsers</b> at this time.
</div>