<div id="tool_heading"><h1>Thank you for your feedback</h1></div>
<div class="tool_content feedback_response">
  <h2>Thanks for helping us improve Virgo!</h2>
  <h2><%= link_to '&larr; Return to Virgo', root_path %></h2>
</div>