    <footer class="clearFix" id="footer" role="contentinfo">
      <div id="footer_content" class="container_24">
        <div class="address grid_10">
          <a href="http://lib.virginia.edu">University of Virginia Library</a><br />
          PO Box 400113, Charlottesville, VA 22904-4113<br />
          ph: (434) 924-3021, fax: (434) 924-1431, <a href="mailto:library@virginia.edu">library@virginia.edu</a>
        </div>
        <div class="external_links grid_14">
          <a href="http://www.lib.virginia.edu/dir/libdir.html">Depts./Contacts</a> | <a href="http://www.virginia.edu">U.Va. Home</a> | <a href="http://www.itc.virginia.edu">ITC</a><br />
          <%= link_to "VIRGO Feedback", feedback_path %> | <a href="http://www2.lib.virginia.edu/askalibrarian/">Questions? Ask a Librarian</a> | <a href="http://analytics.lib.virginia.edu/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=en">Tracking Opt-out</a> <br /> <a href="http://www.lib.virginia.edu/sitesearch.html">Search</a> | <a href="http://www.lib.virginia.edu/hours/">Hours</a> | <a href="http://www.lib.virginia.edu/map.html">Map</a> | <a href="http://www.lib.virginia.edu/policies/">Policies</a> | <a href="http://www.lib.virginia.edu/press/">Press</a> | <a href="http://www.lib.virginia.edu/HR/">Jobs</a><br />
          <a href="http://www.virginia.edu/copyright.html" id="copyrightLink">©</a> 2011 by the Rector and Visitors of the <a href="http://www.virginia.edu">University of Virginia</a>
        </div>
        <div id="federal_lib_logo" class="grid_2"><img src="/images/federal_lib_logo.png" width="39" height="34" alt="Federal Library Depository logo" /></div>
        <div id="federal_text" class="grid_22">This library is a Congressionally designated depository for <a href="http://www2.lib.virginia.edu/govtinfo">U.S. Government documents</a>. Public access to the Government documents is guaranteed by public law.</div>
      </div>
      <span class="hidden" id="srv_name"><%= request.env["SERVER_NAME"].split(".")[0] %></span>
    </footer>
    
<!-- 
##########################################################################
# Copyright 2008 Rector and Visitors of the University of Virginia
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
##########################################################################
-->

<script type="text/javascript" src="//use.typekit.com/dcu6kro.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>